{% extends 'base.html' %}

{% block content %}

	<div class="members-container">
		<div class="auth-container">
			<div class="auth-block">
				<h2>Авторизатция</h2>
				<form action="{% url 'members' %}" method="POST">
					{% csrf_token %}
					<input type="text" name="username" placeholder="@қолданушы атауы">
					<input type="password" name="password" placeholder="Құпия сөз">
					<button class="submit">Кіру</button>
				</form>
				<div class="error">
					{% if error  %}
						{{ error}}
					{% endif %}
				</div>
				<div class="inform">
					Аккаунтыңыз жоқ па? жаңасын <a href="{% url 'register' %}">ашыңыз!</a>
				</div>
			</div>
		</div>
		<div class="register-container">
			<div class="register-block">
				<h2>Регистриция</h2>
				<form action="{% url 'register' %}" method="POST">
					{% csrf_token %}
					<input type="text" name="username" maxlength="150" autofocus required id="id_username" placeholder="@қолданушы атауы">
					<input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Құпия сөз">
					<input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Құпия сөз (қайталау)">
					<button class="submit">Акккаунт ашу</button>
				</form>
				 
			</div>
		</div>
	</div>

{% endblock %}