		{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="profile-container">
		<div class="profile-block">
			<div class="image-block">
				<h2>{{ user.first_name }} {{ user.last_name }}</h2>
				{% if user.customer.profile_photo == 'sds' %}
					<img id="user_pic" src="{% static 'image/user.png' %}">

				{% else %}
					<img id="user_pic" src="{{ user.customer.profile_photo }}">
				{% endif %}

			</div>
			<div class="profile-info">
				<p>@{{ user.username }}</p>
				<p>Туылғанкүн {{ user.customer.birth_mounth }} {{ user.customer.birth_day }}, {{ user.customer.birth_year }} жыл</p>
				<div class="result-block-profile">
					

					<details>
						<summary style="cursor: pointer; padding: 20px;"><h3>Нәтиже</h3></summary>
						<table class="">
							<tr>
								<th>Сабақ</th> 
								<th>Барлығы</th> 
								<th>Дұрыс</th> 
								<th>Қате</th>
							</tr>
						{% for last_progress in last_progress %}
						{% if last_progress.user.id == user.id %}
						<tr>
							<td colspan="1" style="text-align:center;">{{ last_progress.course }}</td>
							<td colspan="1" style="text-align:center;">{{ last_progress.result_all }}</td>
							<td colspan="1" style="text-align:center;">{{ last_progress.result_true }}</td>
							<td colspan="1" style="text-align:center;">{{ last_progress.result_false }}</td>
						</tr>	 
						{% endif %}
						{% endfor %}
						</table>
					</details>
					
				</div>
				 	
			</div>
 

		</div>
	</div>



{% endblock %}