{% extends 'base.html' %}
{% block page_title %}Қолданушылар{% endblock %}
{% load static %}
{% block content %}
{% if object_list %}
	
	<div class="users-container">
		<div class="object-logo">
			Electro Eyes<br>
			<img src="{% static 'image/logo_512.png' %}" width="250">
		</div>
		<div class="users-inner">
		{% for obb in object_list %}
			<div class="users-block">
				<div class="users-block-img">

					
					<img id="user_pic" src="{{ obb.userpicture.photo }}" width="100">
					
				</div>
				{% if obb.first_name %}
				<a href="{% url 'user_profile' obb.id %}" >{{ obb.first_name }} {{ obb.last_name }}</a>	
				{% else %}	 
				<a href="{% url 'user_profile' obb.id %}" >@{{ obb }}</a>	
				{% endif %}
			</div>

		{% endfor %}
		</div>

	</div>
{% endif %}
{% endblock %}