{% extends 'base.html' %}
{% block page_title %}Қолданушылар{% endblock %}
{% load static %}
{% block content %}
{% if object_list %}
	
	<div class="users-container">
		<div class="object-logo">
			Electro Eyes<br>
			<img src="{% static 'image/logo_512.png' %}" width="250">
		</div>
		<div class="users-inner">
		{% for obb in object_list %}
			<div class="users-block">
				<div class="users-block-img">
					{% for i in user_profile %}
					{% if i.user.id == obb.id %}
					<img id="user_pic" src="{{ i.photo }}" width="100">
					{{ "<!--" }}
					{%endif%} 
					{%endfor%}     
					{{ "-->" }}
				</div>
				<a href="{% url 'user_profile' obb.id %}" >{{ obb.first_name|slice:1 }}. {{ obb.last_name }}</a>		 
			</div>

		{% endfor %}
		</div>

	</div>
{% endif %}
{% endblock %}