{% extends 'base.html' %}
{% load static %}
{% block page_title %}Қазақстан тарихы PRO {% endblock %}
{% block content %}
<script type="text/javascript">
	var questions = []; 
	var answers_1 = [];
	var answers_2 = []; 
	var answers_3 = []; 
	var answers_4 = [];
	var last_questions = [];
	var true_qestions = [];
	var false_questions = [];
	var tasks = [];
	var run = true;
	var question_id;
	// {% for qazaqstan_tarihy in object_list %}
	var question = '{{ qazaqstan_tarihy.question }}';
	var answer_1 = '{{ qazaqstan_tarihy.answer_true }}';
	var answer_2 = '{{ qazaqstan_tarihy.answer_false_1 }}';
	var answer_3 = '{{ qazaqstan_tarihy.answer_false_2 }}';
	var answer_4 = '{{ qazaqstan_tarihy.answer_false_3 }}';
	questions.push(question)
	answers_1.push(answer_1)
	answers_2.push(answer_2)
	answers_3.push(answer_3)
	answers_4.push(answer_4)
	// {% endfor %}	
	
</script>
	<div class="main-container">
		{% if object_list %}

		<div class="main-block">
			<div id="ds"></div>
			<h1>Сұрақтар</h1>
			<div id="question">Сұрақтар жүктелуде, Сабыр...</div>
			<div class="question-block">
				<label>
					<input style="display:none" type="button" name="" id="answer_1" value="Жауап 1">
					<div class="answers" id="block_1">Жауап</div>
				</label>
				<label>
					<input style="display:none" type="button" name="" id="answer_2" value="Жауап 1">
					<div class="answers" id="block_2">Жауап</div>
				</label>
				<label>
					<input style="display:none" type="button" name="" id="answer_3" value="Жауап 1">
					<div class="answers" id="block_3">Жауап</div>
				</label>
				<label>
					<input style="display:none" type="button" name="" id="answer_4" value="Жауап 1">
					<div class="answers" id="block_4">Жауап</div>
				</label>	
			</div>

			<div class="result-block">
				<div class="res" id="all_questions">0</div>
				<div class="res" id="true_questions">0</div>
				<div class="res" id="false_questions">-0</div>
			</div>
		</div>
		{% endif %}

		<div class="next-btn">
			{% if user.is_authenticated %}
			<form action="{% url 'progress_save' request.user.id %}" method="POST">
				{% csrf_token %}
				<input class="hide_me" type="" name="user" required id="id_user" value="{{ request.user.id }}">
				<input class="hide_me" type="" name="course" id="id_course" value="Қазақстан тарихы">
				<input class="hide_me" type="number" name="result_all" required id="id_result_all" value="">
				<input class="hide_me" type="number" name="result_true" required id="id_result_true">
				<input class="hide_me" type="number" name="result_false" required id="id_result_false">
				<textarea class="hide_me" name="false_answers" id="id_false_answers"></textarea>
				<input type="submit" name="" id="run_btn" value="Нәтижені сақтау">
			</form>
			{% endif %}
		</div>
		
	</div>
<script type="text/javascript" src="{% static 'scripts/tarih_pro.js' %}"></script>

{% endblock %}
{% block footer %}

{% endblock %}