{% extends 'base.html' %}
{% load static %}
{% block page_title %}Қазақстан тарихы{% endblock %}
{% block content %}
<script type="text/javascript">
	var questions = []; 
	var answers_1 = [];
	var answers_2 = []; 
	var answers_3 = []; 
	var answers_4 = [];
	var last_questions = [];
	var true_qestions = [];
	var false_questions = [];
	var tasks = [];
	var run = true;
	var question_id;
	// {% for qazaqstan_tarihy in object_list %}
	var question = '{{ qazaqstan_tarihy.question }}';
	var answer_1 = '{{ qazaqstan_tarihy.answer_true }}';
	var answer_2 = '{{ qazaqstan_tarihy.answer_false_1 }}';
	var answer_3 = '{{ qazaqstan_tarihy.answer_false_2 }}';
	var answer_4 = '{{ qazaqstan_tarihy.answer_false_3 }}';
	questions.push(question)
	answers_1.push(answer_1)
	answers_2.push(answer_2)
	answers_3.push(answer_3)
	answers_4.push(answer_4)
	// {% endfor %}
</script>
	<div class="main-container">
		{% if object_list %}
			{% include 'courses/task_body.html' %}
		{% endif %}

		<div class="next-btn">
			{% if user.is_authenticated %}
			<form action="{% url 'progress_save' request.user.id %}" method="POST">
				{% csrf_token %}
				<input class="hide_me" type="" name="user" required id="id_user" value="{{ request.user.id }}">
				<input class="hide_me" type="" name="course" id="id_course" value="Қазақстан тарихы">
				<input class="hide_me" type="number" name="result_all" required id="id_result_all" value="">
				<input class="hide_me" type="number" name="result_true" required id="id_result_true">
				<input class="hide_me" type="number" name="result_false" required id="id_result_false">
				<textarea class="hide_me" name="false_answers" id="id_false_answers"></textarea>
				<input type="submit" name="" id="run_btn" value="Нәтижені сақтау">
			</form>
			{% endif %}
		</div>
		
	</div>
{% if user.is_authenticated %}
<script type="text/javascript" src="{% static 'scripts/tarih_pro.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'scripts/not_auth_pro.js' %}"></script>
{% endif %}
{% endblock %}
{% block footer %}

{% endblock %}