{% extends 'base.html' %}
{% block page_title %}Қазақстан тарихы{% endblock %}
{% block content %}
	<div class="main-container">
		<div class="main-block">
			<div id="ds"></div>
			<h1>Сұрақтар</h1>
			<div id="question">Сынақты бастау үшін алға батырмасын бас ;)</div>
			<div class="question-block">
				<label>
					<input style="display:none" type="button" name="" id="answer_1" value="Жауап 1" onclick="check_1()">
					<div class="answers" id="block_1">Жауап</div>
				</label>
				<label>
					<input style="display:none" type="button" name="" id="answer_2" value="Жауап 1" onclick="check_2()">
					<div class="answers" id="block_2">Жауап</div>
				</label>
				<label>
					<input style="display:none" type="button" name="" id="answer_3" value="Жауап 1" onclick="check_3()">
					<div class="answers" id="block_3">Жауап</div>
				</label>
				<label>
					<input style="display:none" type="button" name="" id="answer_4" value="Жауап 1" onclick="check_4()">
					<div class="answers" id="block_4">Жауап</div>
				</label>	
			</div>
			<div class="result-block">
				<div class="res" id="all_questions">0</div>
				<div class="res" id="true_questions">0</div>
				<div class="res" id="false_questions">-0</div>
			</div>
		</div>
		<div class="next-btn">
			<input type="button" name="" id="run_btn" value="Алға">
		</div>
			<script type="text/javascript">
				var questions = [];
				var answers = [];
				var last_questions = [];
				var true_qestions = [];
				var false_questions = [];
				var tasks = [];
				var run = true;
				var question_id;
				// {% for qazaqstan_tarihy in object_list %}
				var question = '{{ qazaqstan_tarihy.question }}';
				var answer = '{{ qazaqstan_tarihy.answer }}';
				questions.push(question)
				answers.push(answer)
				// {% endfor %}	
			</script>
	</div>
{% endblock %}
{% block footer %}

	<div class="footer-container">
		<small><strong>Сұрақты дайындағандар: </strong>Ерлан Аяпов, Дінмұхамед Төлеген</small>
	</div>

{% endblock %}