{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="welcome-text">
		<h1>Бұл - Electro Eyes<br>Қош келдің!</h1>
	</div>

	<div class="about-container">
		<div class="about-text-main">
			<p><strong>Electro Eyes</strong> <hr><br>
				5 пен 11 сынып арасындағы материалдарды қайталауға арналған платформа. Бұл білім беретін сайт болып <span>табылмайды!</span> Сайт қауіпсіздігі <a href="https://www.immuniweb.com">Website Security Test</a> сервисімен тексерілген. Қазірше тест тек Қазақастан тарихынан алдағы уақытта басқа сабақтарды қосу жоспарда бар. Қазақастан тарихынан тест тапсыру үшін осы <a href="{% url 'q_tarih' %}">сілтемені</a> басыңыз немесе " ☰ " , " Тест тапсыру " сөзіне басыңыз. Ерікті түрде жобаның дамуына үлес қосқыңыз келсе осы <a href="https://wa.me/+77478160485?text=Сәлем%2C+командаға+қосылу+бойынша+сұрағым+бар+еді?" color='blue' target="_blank">сілемені</a> басыңыз. </p>
		</div>
	</div>
{% endblock %}

