{% extends 'base.html' %}
{% load static %}
{% block page_title %}
	{% if request.user.is_authenticated %}
		Жаңалықтар
	{% else %}
		Brain Training
	{% endif %}
{% endblock %}

{% block content %}
	<!-- <div class="welcome-text">
		<h1>Бұл - Electro Eyes<br>Қош келдің!</h1>
	</div>
 -->
	{% if not request.user.is_authenticated %}
	<div class="about-container">
		<div class="about-text-main">
			<p><strong>Monitoring brain</strong><hr><br>
				Қош келдің! Бұл monitoring brain платформасы.  Сен сабақ қайталауға көп уақыт құртып жүрсің бе? Уақытыңды үнемдегің келеді ме? Біз саған көмектесеміз!
			</p>
			<img src="{% static 'image/help.webp' %}"><br>
			Егер сен білім шыңына шыққан болсаң, онда бізге сенің <a href="https://wa.me/+77478160485?text=Сәлем%2C+менің+есімім+" color='blue' target="_blank">көмегің керек</a>.
			<p>Android-қа арналған APK нұсқа дайын <a href="http://www.webintoapp.com/store/43874" target="_blank">жүктеу</a></p>
		</div>
		<!-- <a href="https://wa.me/+77478160485?text=Сәлем%2C+командаға+қосылу+бойынша+сұрағым+бар+еді?" color='blue' target="_blank"> -->
	</div>
	{% else %}
		
		{% if posts %} 
		<div class="post-container">
		{% for post in posts %}
			<div class="post-block">
				<div class="post-head">
					<a href="{% url 'user_profile' post.author.id %}">
						<div class="posts-block-img">
							<img id="user_pic" src="{{ post.author.userpicture.photo }}" width="70">
						</div>
						
						<div class="post-author">
						{{ post.author.first_name }} {{ post.author.last_name }}
						</div>
						{% if request.user.id == post.author.id %}
						<!-- <div>
							<form action="{% url 'post_delete' post.id %}" method="POST">
								{% csrf_token %}
								<button type="submit">ЖОЮ</button>
								 
								
							</form>
						</div> -->
						{% endif %}
					</a>
				</div>
				<!-- <div class="post-title">
					<h2>{{ post.title }}</h2>
				</div> -->
				<div class="post-body">
					{{ post.body }}
				</div>

				{% if post.image %}
				<div class="post-img">
					<img src="{{ post.image }}">					
				</div>
				{% endif %}
				<div class="info">
					{{ post.date|slice:":16" }}
				</div>
			</div>
		{% endfor %}
		{% endif %}
		
	{% endif %}	
{% endblock %}

