
{% extends 'base.html' %}

{% block content %}
	<div class="main-container">
		<div class="main-block">
			<div id="ds"></div>
			<h1>Сұрақтар</h1>
			<div id="question">Сынақты бастау үшін алға батырмасын бас ;)</div>
			<div class="question-block">
				<label>
					<input style="display:none" type="button" name="" id="answer_1" value="Жауап 1" onclick="check_1()">
					<div class="answers" id="block_1">Жауап</div>
				</label>

				<label>
					<input style="display:none" type="button" name="" id="answer_2" value="Жауап 1" onclick="check_2()">
					<div class="answers" id="block_2">Жауап</div>
				</label>

				<label>
					<input style="display:none" type="button" name="" id="answer_3" value="Жауап 1" onclick="check_3()">
					<div class="answers" id="block_3">Жауап</div>
				</label>

				<label>
					<input style="display:none" type="button" name="" id="answer_4" value="Жауап 1" onclick="check_4()">
					<div class="answers" id="block_4">Жауап</div>
				</label>	
			</div>


			<div class="result-block">
				<div class="res" id="all_questions">0</div>
				<div class="res" id="true_questions">0</div>
				<div class="res" id="false_questions">-0</div>
			</div>
		</div>
		<div class="next-btn">
			<input type="button" name="" id="run_btn" value="Алға">
		</div>
			<script type="text/javascript">
				var questions = [];
				var answers = [];
				var last_questions = [];
				var true_qestions = [];
				var false_questions = [];
				var tasks = [];
				var run = true;
				var question_id;

				// {% for object in object_list %}
				var question = '{{ object.question }}';
				var answer = '{{ object.answer }}';
				questions.push(question)
				answers.push(answer)
				// {% endfor %}

				while (run) {
				  		question_id = getRandomInt(questions.length);
				  		if (!last_questions.includes(question_id)) {
				  			last_questions.push(question_id);
				  			run = false;
				  		}
				  	}

				  	var fake_answer_1 = getRandomInt(answers.length);
				  	var fake_answer_2 = getRandomInt(answers.length);
				  	var fake_answer_3 = getRandomInt(answers.length);
					var cs = getRandomInt(3);
				  	
				  	if (cs == 1){
				  		document.getElementById('block_1').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_2').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_3').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_4').value = answers[question_id];
					  	document.getElementById('block_4').innerHTML = answers[question_id];

				  	} else if (cs == 2) {
				  		document.getElementById('block_1').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_2').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_4').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_3').value = answers[question_id];
					  	document.getElementById('block_3').innerHTML = answers[question_id];
				  	} else if (cs == 3) {
				  		document.getElementById('block_1').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_3').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_4').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_2').value = answers[question_id];
					  	document.getElementById('block_2').innerHTML = answers[question_id];
				  	} else {
				  		document.getElementById('block_3').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_2').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_4').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_1').value = answers[question_id];
					  	document.getElementById('block_1').innerHTML = answers[question_id];
				  	}
				  	

				  	var question_el = document.getElementById('question');
				  	question_el.innerHTML = (questions[question_id]) + ' ?';
				  	document.getElementById('true_questions').innerHTML = true_qestions.length
				  	document.getElementById('all_questions').innerHTML = last_questions.length
				  	document.getElementById('false_questions').innerHTML = '-' + false_questions.length

					run = true
				function getRandomInt(max) {
				  return Math.floor(Math.random() * max);
				}
				function getRandomArbitrary(min, max) {
				  return 
				}
				function make_question() {
					while (run) {
				  		question_id = getRandomInt(questions.length);
				  		if (!last_questions.includes(question_id)) {
				  			last_questions.push(question_id);
				  			run = false;
				  		}
				  	}

				  	var fake_answer_1 = getRandomInt(answers.length);
				  	var fake_answer_2 = getRandomInt(answers.length);
				  	var fake_answer_3 = getRandomInt(answers.length);
					var cs = getRandomInt(3);
				  	
				  	if (cs == 1){
				  		document.getElementById('block_1').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_2').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_3').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_4').value = answers[question_id];
					  	document.getElementById('block_4').innerHTML = answers[question_id];

				  	} else if (cs == 2) {
				  		document.getElementById('block_1').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_2').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_4').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_3').value = answers[question_id];
					  	document.getElementById('block_3').innerHTML = answers[question_id];
				  	} else if (cs == 3) {
				  		document.getElementById('block_1').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_3').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_4').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_2').value = answers[question_id];
					  	document.getElementById('block_2').innerHTML = answers[question_id];
				  	} else {
				  		document.getElementById('block_3').innerHTML = answers[fake_answer_1];
					  	document.getElementById('block_2').innerHTML = answers[fake_answer_2];
					  	document.getElementById('block_4').innerHTML = answers[fake_answer_3];
					  	document.getElementById('answer_1').value = answers[question_id];
					  	document.getElementById('block_1').innerHTML = answers[question_id];
				  	}
				  	

				  	var question_el = document.getElementById('question');
				  	question_el.innerHTML = (questions[question_id]) + ' ?';
				  	document.getElementById('true_questions').innerHTML = true_qestions.length
				  	document.getElementById('all_questions').innerHTML = last_questions.length
				  	document.getElementById('false_questions').innerHTML = '-' + false_questions.length

					run = true
				};		

				function check_1() {

					if (document.getElementById('answer_1').value == answers[question_id]) {
						alert('Дұрыс!');
						true_qestions.push(question_id)	
						make_question();
					}
					else {
						false_questions.push(question_id)	
						make_question();
						alert('Дұрыс емес :(')
					}
					 
				}
				function check_2() { 
					if (document.getElementById('answer_2').value == answers[question_id]) {
						true_qestions.push(question_id)	
						alert('Дұрыс!');	
						make_question();
					}
					else {
						false_questions.push(question_id)	
						make_question();
						alert('Дұрыс емес :(')
					}
				}
				function check_3() { 
					if (document.getElementById('answer_3').value == answers[question_id]) {
						true_qestions.push(question_id)	
						alert('Дұрыс!');	
						make_question();
					}
					else {
						false_questions.push(question_id)	
						make_question();
						alert('Дұрыс емес :(')
					}
				}
				function check_4() { 
					if (document.getElementById('answer_4').value == answers[question_id]) {
						true_qestions.push(question_id)	
						alert('Дұрыс!');	
						make_question();
					}
					else {
						false_questions.push(question_id)	
						make_question();
						alert('Дұрыс емес :(')
					}
				}

	 
				console.log();
			</script>
			

		
		
	</div>
	 

	

	
	
{% endblock %}