{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tarih</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<style type="text/css">
		body {
			background: url('{% static "image/bg.jpg" %}') no-repeat top center fixed;
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
	<header>
		<div class="main-header">
			<h1>{% block page_title %}Electro Eyes{% endblock %}</h1>
		</div>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
		{% endblock %}
	</footer>

	<div class="main-left-nav">
			<div class="nav-header">
				<h3>Нұсқаулықтар</h3>
				<p id="close_menu" ><</p>
			</div>
			<style type="text/css">
				.disabled {
					opacity: 0.2;
					cursor: none;
				}
			</style>
			<nav>
				<ul>
					<li><a class="" href="{% url 'main' %}">Басты парақ</a></li>
					<li><a class="" href="https://www.instagram.com/erlans.kingdom/" target="_blank">Instagram</a></li>
					<li>
						<details>
							<summary>Қайталау тапсыру</summary>
							<ul>
								<li><a class="" href="{% url 'q_tarih' %}">Қазақстан тарихы</a></li>
								<li><a class="" href="{% url 'w_tarih' %}">Дүниежүзі тарихы</a></li>
								 
							</ul>
						</details>
					</li>
					{% if not request.user.is_authenticated %}
				 		<li><a class="" href="{% url 'members' %}">Аккаунт</a></li>
				 	{% else %}
				 		<li><a class="" href="{% url 'user_profile' request.user.id %}">@{{ request.user }}</a></li>
				 		<li><a class="" href="{% url 'picture_update' request.user.id %}">@{{ request.user }} тест</a></li>
					{% endif %}
					<li><a class="disabled" href="#/">Жаңалықтар</a></li>
					<li><a class="disabled" href="#/">Досымды қос</a></li>
					<li><a class="disabled" href="#/">Дайындық</a></li>
					<li><a class="disabled" href="#/">Серіктес болу</a></li>
					 
				</ul>
			</nav>
			<!-- {% if request.user.is_authenticated %}
			<p class="about-text"><a class="" href="{% url 'user_profile' request.user.id %}">{{ request.user }}</a></p>
			{% endif %} -->
<!-- Product by: <a href="https://wa.me/+77478160485?text=Сәлем%2C+https://alternative-tarih.herokuapp.com/+осы+сайт+бойынша+сұрағым+бар+еді?" color='blue' target="_blank">Erlan Aiapov</a> -->

		</div>
		<div class="ds">
			<p class="btn" id="open_menu" >☰</p>
		</div>
	<script type="text/javascript" src="{% static 'scripts/html2canvas.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'scripts/qz_tarih.js' %}"></script>

	<script type="text/javascript">
		jQuery('#close_menu').on('click', function() {
			$(".main-left-nav").css("position","fixed")
			$(".main-left-nav").css("left", '-260px');
			$("#open_menu").css("display", 'block');	
		});
		jQuery('#open_menu').on('click', function() {
			$(".main-left-nav").css("position","fixed")
			$(".main-left-nav").css("left", '0');
			$("#open_menu").css("display", 'none');	
		});
	</script>
</body>
</html>