{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Brain Training</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" id="theme">
	<link rel="stylesheet" type="text/css" href="{% static 'style/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style/demo.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'image/logo_48.png' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,300&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
</head>
<script type="text/javascript" src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>

<script type="text/javascript">
		myStorage = window.localStorage;
		let mod = localStorage.getItem('mod') 
		if (mod == 'light') {
		    theme.href = "{% static 'style/style.css' %}"
			
		} else {
		    theme.href = "{% static 'style/dark-style.css' %}"

		}
	</script>
<body>
	
	<header>
		<div class="main-header">
			<h1>{% block page_title %}Brain Training{% endblock %}</h1>
		</div>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>
	<div class="main-left-nav">
			<div class="nav-header">
				<h3>Нұсқаулықтар</h3>
				<p id="close_menu" ><</p>
			</div>
			<style type="text/css">
				.disabled {
					opacity: 0.2;
					cursor: none;
				}
			</style>
			<nav>
				<ul>
					<li><a class="" href="{% url 'main' %}">Басты парақ</a></li>
					<li>
						<details>
							<summary>Сабақ қайталау</summary>
							<ul>{% if request.user.is_authenticated %}
								<li><a class="" href="{% url 'pro_tarih' %}">Қазақстан тарихы</a></li>{% else %}
								<li><a class="" href="{% url 'q_tarih' %}">Қазақстан тарихы</a></li>{% endif %}		
								<li><a class="" href="{% url 'w_tarih' %}">Дүниежүзі тарихы</a></li>
								<li><a class="" href="{% url 'physic' %}">Физика</a></li>						 
							</ul>
						</details>
					</li>
					{% if not request.user.is_authenticated %}
				 		<li><a class="" href="{% url 'members' %}">Аккаунт</a></li>
				 	{% else %}
				 		<li><a class="" href="{% url 'users' %}">Қолданушылар</a></li>
						<li><a class="" href="{% url 'post_add' %}">Жаңалық қосу</a></li>
					{% endif %}					
					<li><a class="disabled" href="#/">Досымды қос</a></li>
					<li><a class="disabled" href="#/">Дайындық</a></li>	 
				</ul>
			</nav>
				{% if request.user.is_authenticated %}
				<div class="about-text">
					<div class="user-nav-block">
						<img src="{{ request.user.userpicture.photo }}">
					</div>
					<div class="user-nav-name-block">
						<a class="" href="{% url 'user_profile' request.user.id %}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
					</div>
					<div class="nav-acc-logout">
						<a href="{% url 'logout' %}">шығу</a>
					</div>
				</div>
				{% else %}
				<div class="about-text">
					<div class="user-nav-name-block">
						<a id="switch_mod" style="cursor:pointer;">Дизайн ауыстыру</a>
					</div>
				</div>
				{% endif %}
			
<!-- Product by: <a href="https://wa.me/+77478160485?text=Сәлем%2C+https://alternative-tarih.herokuapp.com/+осы+сайт+бойынша+сұрағым+бар+еді?" color='blue' target="_blank">Erlan Aiapov</a> 
<a class="" id="switch_mod" style="cursor: pointer;">
			Дизайн ауыстыру</a>
-->

		</div>
		<div class="ds">
			<p class="btn" id="open_menu" >☰</p>
		</div>
	<script type="text/javascript" src="{% static 'scripts/html2canvas.js' %}"></script>
	

	<script type="text/javascript">
		jQuery('#close_menu').on('click', function() {
			$(".main-left-nav").css("position","fixed")
			$(".main-left-nav").css("left", '-260px');
			$("#open_menu").css("display", 'block');	
		});
		jQuery('#open_menu').on('click', function() {
			$(".main-left-nav").css("position","fixed")
			$(".main-left-nav").css("left", '0');
			$("#open_menu").css("display", 'none');	
		});

		// let switch_button = document.getElementById('switch_mod')
		
		


		jQuery('#switch_mod').on('click', function() {
		    let theme = document.getElementById('theme')
		    if (theme.getAttribute("href") == "{% static 'style/style.css' %}") {
		    	theme.href = "{% static 'style/dark-style.css' %}"
		    	localStorage.clear();
		    	localStorage.setItem('mod', 'dark')
		    } else {
		    	theme.href = "{% static 'style/style.css' %}"
		    	localStorage.clear();
		    	localStorage.setItem('mod', 'light')
		    }
		});
	</script>
</body>
</html>